* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  max-width: 100vw !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10px;
  max-width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100px;
  margin-top: 35px;
  border-left: solid white 1px;
  padding-left: 10px;
}

.counts {
  margin-top: 10px;
  width: 95vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.pro {
  color: #61dafb;
}

.p {
  font-size: small;
}

.false {
  border-left: solid red 1px !important;
}

.true {
  border-left: solid green 1px !important;
}

.trueNum {
  color: green;
}

.falseNum {
  color: red;
}
